/* Basic styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  nav {
    background: #f2f2f2;
    padding: 5px 20px;
    border-bottom:1px solid rgba(0,0,0,0.05);
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
  
    color:#242f57;
    text-decoration: none;
  
  }
  
  a:hover {
  
    text-decoration: underline;
  
  }
  .logo-packageX
  {
   height:30px;
  }
  .logo a:hover {
  
    text-decoration: none;
  
  }
  
  .menu li {
    color:#242f57;
    font-size: 16px;
  
    padding: 15px 5px;
  
   /*white-space: nowrap;*/
  
  }
  
  .logo a,
  
  .toggle a {
  
    font-size: 20px;
  
  }
  
  .button.secondary {
  
    border-bottom: 1px #444 solid;
  
  }
  .image-icon-margin
{
border: #444;
padding-right:10px;
}

li
{
    text-align: left;
    padding-top: 20px;
    padding-top: 20px;
}
/************ empty div for spacing *************/
.emptyDiv
{
    padding-top:70px;
   
}
/************-------------------------- *************/
/*card*/
.fullCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
  }
  .checked {
    color: orange;
  }
  /* Mobile menu */
  
  .menu {
  
    display: flex;
  
    flex-wrap: wrap;
  
    justify-content: space-between;
  
    align-items: center;
  
  }
  
  .toggle {
  
    order: 1;
  
  }
  
  .item.button {
  
    order: 2;
  
  }
  
  .item {
  
    width: 100%;
  
    text-align: left;
  
    order: 3;
  
    display: none;
  
  }
  
  .item.active {
  
    display: block;
  
  }
  p
  {
  color: #6d7279;
  font-size: 16px;
  line-height: 29px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  }
  figure:nth-child(2) {
  transform: scaleY(-1);
}
  
  /* Navbar Toggle */
  
  .toggle {
  
    cursor:pointer;
  
  }
  
  .bars {
  
    background: #1a73e8;
  
    display: inline-block;
  
    height: 2px;
  
    position: relative;
  
    transition: background .2s ease-out;
  
    width: 18px;
  
  }
  
  .bars:before,
  
  .bars:after {
  
    background: #1a73e8;
  
    content: '';
  
    display: block;
  
    height: 100%;
  
    position: absolute;
  
    transition: all .2s ease-out;
  
    width: 100%;
  
  }
  
  .bars:before {
  
    top: 5px;
  
  }
  
  .bars:after {
  
    top: -5px;
  
  }
  
  .grid-item-small
  {
      width:400px;
      padding-top: 200px;
  }
  .grid-item-move-iconLeft
  {
text-align: left;
  }
  .grid-item-move-iconRight
  {
text-align: right;
  }
  .alter-image
  {
    width:130px;
    height:60px;
  }
  .scale-image-bottom
  {
    margin-top: 200px;
    /* transform: scale(2.5,2.5); */
  }
  .scale-image
  {
    margin-left: 260px;
    margin-top: 290px;
  transform: scale(3.5,3.5);
    
  }
  .set-margins
  {
    margin-right: 80px;
    margin-top: 20px;
  }
  .scale-image-top{
    margin-left:220px;
    margin-top: 200px;
    transform: scale(2.5,2.5);
    
  }
.flip-image-horizontal
{
 
  transform: scaleX(-1);

}
.flig-image-vertical
{
transform: scaleY(-1);
}   
  
 
  
  /* Tablet menu */
  
  @media all and (min-width: 468px) {
  /* ---------------------menu------------------------*/
    .menu {
  
        justify-content: center;
  
    }
  
  
    .logo {
  
        flex: 1;
  
    }
  
  
    .item.button {
  
        width: auto;
  
        order: 1;
  
        display: block;
  
    }
  
    .toggle {
  
        order: 2;
  
    }
  
    /* .topbackground
    {
    
background-color: #e0e0e0;
border: 1px solid rgba(3,24,49,0.05);
overflow: hidden;
margin-bottom: 4em;
padding-top: 2em;
    } */
  /**********menu end*******************************/

  /* ----------------------- first block starts Tabs------------------------ */
  
 
 .grid-container-leftRight-spacing
 {
    
    padding-left: 40px;
    padding-right: 40px;

 }
 .grid-item 
 {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 15px;
  padding-bottom: 15px; 
 }
  .grid-container
   {
    background-color: #ffffff; 
    display: grid;
    grid-template-columns: 1fr;
    
   }

  .grid-container-section-1 
  {
    border: 1px solid rgba(3,24,49,0.05);
    overflow: hidden;
    margin-bottom: 2em;
    padding-top: 2em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "b" 
    "a";
  }
  .grid-item-reverse-col-order
  {
     grid-area: b;   
  }
   .grid-container-mailroom-section-2 {
    background-color: #fff;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 1fr;
  } 
  .grid-container-2-col
    {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a b";
    
  }
  .grid-container-parcel-section-3{
    background-color: #fff;
    padding-top: 80px;
    display: grid;
    grid-template-rows: 1fr ;
   
  } 
   
  .grid-container-client-section-4 
   {
 
    display: grid;
    grid-template-rows: 1fr ;
    text-align:center;
    
   }
  .grid-container-card-section-5
  {
    display: grid;
    grid-template-rows: 1fr ;
    text-align:center;

  }
  .grid-container-mailroom-package-section-6
  {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-item-order-1
  {
      order:-1;
      text-align: center;
  }
  
  .grid-item-small
  {
      width:500px;
      padding-top: 30px;
  }
.grid-container-footer-section-1
{
    display: grid;
    grid-template-rows: 1fr ;
    text-align:center;

}
  .grid-item-move-iconLeft
  {
    text-align: left;
  }
  .grid-item-move-iconRight
  {
text-align: right;
  }
  .hideImage
  {
  display:none;
  }
  .bluePurpleLogo {
    padding:20px;
    background-color:#fff;
    position: relative;
    top: 40px;
    left:350px;
    width:100px;
    
  }
/* footer **/
.grid-item-3 {
    padding-top: 20px;
    grid-row: 2;
  }
/* footer */

/********** heading ************/
.heading
  {
color: #242f57;
text-align: left;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 30px;
  }

/*******************************/


  /******************** button styling start**************/
.button-color-green
{
background-color: #02b67c;

}
.button-color-blue
{
background-color: #027aff;

}
.button-color-purple
{
background-color: #804ddf;

}
  .productButtonStyle
  {
   
    border: none;
    border-radius:5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding-left: 20px;
    
    
  }

  .productButtonStyle:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
/******************** button styling  ends**************/

/********************border styling starts*************/
.blue-border
{
    border-top: #1a73e8;
    border-bottom: #1a73e8;
    box-shadow: 0px 2px 14px 0px #1a73e8;
    
}

.purple-border
{
border-top: #804ddf;
border-bottom: #804ddf;
box-shadow: 0px 2px 14px 0px #804ddf;

}
/********************border styling ends*************/

  }






  /* ----------------------- first block ends Tabs------------------------ */
  
  /* Desktop menu */
  
  @media all and (min-width: 768px) {
  
    .item {
  
        display: block;
  
        width: auto;
  
    }
  
    .toggle {
  
        display: none;
  
    }
  
    .logo {
  
        order: 0;
  
    }
  
    .item {
  
        order: 1;
  
    }
  
    .button {
  
        order: 2;
  
    }
  
    .menu li {
  
        padding: 15px 10px;
  
    }
  
    .menu li.button {
  
        padding-right: 0;
  
    }
  /* ----------------------- first block starts desktop------------------------ */
  .grid-container-leftRight-spacing
  {
     padding-top: 40px;
     padding-left: 100px;
     padding-right: 100px;
 
  }
  .grid-container-section-1
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
  
  }
  .grid-container
    {  
    display: grid;
    grid-template-columns: auto auto auto auto;
    }
  .grid-container-mailroom-section-2
    {
       
       display: grid;
      grid-template-columns: auto auto auto auto;
       
    }
  .grid-container-parcel-section-3 
      {
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
      }
  .grid-item-order-1
      {
      order:0;
      }
  .grid-container-section-4
    {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
    .grid-container-section-5
    {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  .bluePurpleLogo {
    
    padding: 20px;
    background-color:#fff;
    width: 90px;
    position: relative;
    top: 40px;
    left: 550px;
  }
  .hideImage
  {
    
  display:initial;
  }
  .scale-image
  {
    margin-left:220px;
    margin-top: 50px;
    transform: scale(1.3,1.3);
    
  }
  .resize-image
  {
   width:40% !important;
    
  }
    /* ----------------------- first block ends desktop------------------------ */
    
  }
  
  /* ---------------------footer--------------------- */




